<header id="header-section">
  <nav class="navbar navbar-expand-lg navbar-light" *ngIf="NavNoLog">
    <div class="container">
      <img src="../../../assets/logo.gif" [routerLink]="['/']" routerLinkActive alt="" width="100px">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav align-items-lg-center align-items-start ml-auto">
          <li class="d-flex align-items-center justify-content-between pl-4 pl-lg-0">
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="login()">Log In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="register()">Registro</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <nav class="navbar navbar-expand-lg navbar-light" *ngIf="NavLogged">
    <div class="container">
      <img src="../../../assets/logo.gif" [routerLink]="['/']" routerLinkActive alt="" width="100px">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav align-items-lg-center align-items-start ml-auto">
          <li class="d-flex align-items-center justify-content-between pl-4 pl-lg-0">
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="logout()">Cerrar sessión</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

</header>
