<div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-sm-8 offset-sm-2">

              <h2>Registro de Alumnos</h2>
              <form [formGroup]="myForm" (ngSubmit)="registerAlumno()">
                  <div class="form-group">
                      <div class="form-group">
                          <label for="username">Mote o "Nick"</label>
                          <input type="text" [(ngModel)]="alumno.usuario" formControlName="usuario" class="form-control"  />

                          </div>
                      </div>

                      <div class="form-group">
                          <label for="email">Email</label>
                          <input type="text" [(ngModel)]="alumno.email" formControlName="email" class="form-control"  />

                      </div>

                      <div class="form-group">
                          <label for="password">Contraseña</label>
                          <input type="password" [(ngModel)]="alumno.contrasena" formControlName="contrasena" class="form-control"  />

                      </div>

                      <div class="form-group">
                          <label for="password2">Repetir Contraseña</label>
                          <input type="password"  id="confirm_password"  formControlName="confirm_password" class="form-control"  />
                          <div *ngIf="f.confirm_password.touched && f.confirm_password.invalid" class="alert alert-danger">
                            <div *ngIf="f.confirm_password.errors.required">Repetir la contraseña es requerido.</div>
                            <div *ngIf="f.confirm_password.errors.confirmedValidator">Las contraseñas deben ser iguales.</div>
                        </div>
                      </div>

                      <label for="firstName">Nombre</label>
                      <input type="text" [(ngModel)]="alumno.nombre" formControlName="nombre" class="form-control"  />


                  <div class="form-group">
                      <label for="lastName">Apellidos</label>
                      <input type="text" [(ngModel)]="alumno.apellido" formControlName="apellido" class="form-control"  />

                  </div>


                  <div class="form-group">
                    <button [disabled]="myForm.invalid" type="submit" class="btn btn-primary">
                        Register
                    </button>
                      <a routerLink="/login" class="btn btn-link">Cancel</a>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>
