<app-nav-usuarios></app-nav-usuarios>
<div >
  <h1 class="center">Mis rankings</h1>
  <div class="row justify-content-center">
    <div class="col-auto">

      <div *ngIf="visualizarR">
        No estás en ningun ranking
      </div>


      <table class="table table-responsive">



        <tbody *ngFor="let item of ranking">
          <tr>
            <td>
              <button type="button"  [routerLink]="['../ranking', item[1]] " class="btn btn-primary btn-lg"> {{item[0]}}</button>



            </td>

          </tr>
        </tbody>
      </table>
      <button class="btn btn-opacity-light mr-1" [routerLink]="['../home']" routerLinkActive="active">Volver al HOME</button>
    </div>
  </div>
</div>
