<app-nav-usuarios></app-nav-usuarios>
<div class="banner text-left">
  <div class="container">
    <div class="row">
      <table class="table">
        <!-- <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">Ver</th>
            <th scope="col">Borrar</th>
          </tr>
        </thead> -->
        <tbody *ngFor="let item of ranking">
          <tr>
            <td>{{item}}</td>
            <td>
              <div class="mr-5">
                <div class="mr-5">
                  <div class="mr-5">
                    <div class="mr-5">
                      <div class="mr-5">
                        <div class="mr-5">
                          <div class="mr-5">
                            <div class="mr-5">
                              <div class="mr-5">
                                <div class="mr-5">
                                  <div class="mr-5">
                                    <div class="mr-5">
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <button class="btn btn-opacity-light mr-3"  (click)="onClick()">
                Visualizar
              </button>
              <button class="btn btn-opacity-danger">
                Borrar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
