<header id="header-section">
  <nav class="navbar navbar-expand-lg pl-3 pl-sm-0" id="navbar" *ngIf="NavNoLog">
    <div class="container">
      <div class="navbar-brand-wrapper d-flex w-100">
        <img src="../../../assets/ff3e1129-5786-4c3c-aeb2-6de1a9a977ca_200x200.png" [routerLink]="['/']" routerLinkActive alt="" width="100px">
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="mdi mdi-menu navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse navbar-menu-wrapper" id="navbarSupportedContent">
        <ul class="navbar-nav align-items-lg-center align-items-start ml-auto">
          <li class="d-flex align-items-center justify-content-between pl-4 pl-lg-0">
            <div class="navbar-collapse-logo">
              <img src="../../../assets/ff3e1129-5786-4c3c-aeb2-6de1a9a977ca_200x200.png" [routerLink]="['/']" routerLinkActive alt="" width="100px">
            </div>
            <button class="navbar-toggler close-button" type="button" data-toggle="collapse"
              data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="mdi mdi-close navbar-toggler-icon pl-5"></span>
            </button>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="login()">Log In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="register()">Registro</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <nav class="navbar navbar-expand-lg pl-3 pl-sm-0" id="navbar" *ngIf="NavLogged">
    <div class="container">
      <div class="navbar-brand-wrapper d-flex w-100">
        <img src="../../../assets/ff3e1129-5786-4c3c-aeb2-6de1a9a977ca_200x200.png" alt="" width="100px" [routerLink]="['/']" routerLinkActive>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="mdi mdi-menu navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse navbar-menu-wrapper" id="navbarSupportedContent">
        <ul class="navbar-nav align-items-lg-center align-items-start ml-auto">
          <li class="d-flex align-items-center justify-content-between pl-4 pl-lg-0">
            <div class="navbar-collapse-logo">
              <img src="../../../assets/ff3e1129-5786-4c3c-aeb2-6de1a9a977ca_200x200.png" [routerLink]="['/']" routerLinkActive alt="" width="100px">
            </div>
            <button class="navbar-toggler close-button" type="button" data-toggle="collapse"
              data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="mdi mdi-close navbar-toggler-icon pl-5"></span>
            </button>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="logout()">Cerrar sessión</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</header>
<div class="banner">
  <div class="container">
    <h1 class="font-weight-semibold">Bienvenido a GAMIFI-K</h1>
    <h6 class="font-weight-normal text-muted pb-3">Mejora tu experiencia de aprendizaje😜</h6>

    <!-- BOTONES PARA USUARIO NO LOGUEADO -->
    <div *ngIf="NavNoLog">
      <button class="btn btn-opacity-light mr-1" (click)="register()">Darme de alta</button>
      <button class="btn btn-opacity-success ml-1" (click)="login()">Iniciar sessión</button>
    </div>

    <!-- BOTONES PARA USUARIO LOGUEADO -->
    <div *ngIf="NavLogged">
      <button class="btn btn-opacity-light mr-1" [routerLink]="['../usuario']" routerLinkActive="active" >Mis rankings</button>
    </div>
    <img src="../../../assets/images/Group171.svg" alt="" class="img-fluid">
  </div>
</div>
<div class="content-wrapper">
  <div class="container">
    <section class="features-overview" id="features-section">
      <div class="content-header">
        <h2>¿Como funciona?</h2>
        <h6 class="section-subtitle text-muted">Genera tus rankings e invita a tus amigos para que participen en tu
          aventura</h6>
      </div>
      <div class="d-md-flex justify-content-between">
        <div class="grid-margin d-flex justify-content-start">
          <div class="features-width">
            <img src="../../../assets/images/Group12.svg" alt="" class="img-icons">
            <h5 class="py-3">Crea tus rankings a gran velocidad</h5>
          </div>
        </div>
        <div class="grid-margin d-flex justify-content-center">
          <div class="features-width">
            <img src="../../../assets/images/Group7.svg" alt="" class="img-icons">
            <h5 class="py-3">Mira quienes són los mejores y recompensales</h5>
          </div>
        </div>
        <div class="grid-margin d-flex justify-content-end">
          <div class="features-width">
            <img src="../../../assets/images/Group5.svg" alt="" class="img-icons">
            <h5 class="py-3">Cumple objetivos</h5>
          </div>
        </div>
      </div>
    </section>
    <!-- <footer class="border-top">
      <p class="text-center text-muted pt-4">Copyright © 2021 Sergi Bertran | Gabriel Gomez | Alex Rodriguez. Todos los
        derechos reservados.</p>
    </footer> -->
  </div>
</div>
<script src="../../../assets/js/landingpage.js"></script>
