<app-nav-usuarios></app-nav-usuarios>
<div class="banner">
    <div class="container">
        <h1 class="font-weight-semibold">Bienvenido a GAMIFI-K</h1>
        <h6 class="font-weight-normal text-muted pb-3">Mejora tu experiencia de aprendizaje😜</h6>

        <!-- BOTONES PARA USUARIO NO LOGUEADO -->
        <div *ngIf="NavNoLog">
            <button class="btn btn-opacity-light mr-1" (click)="register()">Darme de alta</button>
            <button class="btn btn-opacity-success ml-1" (click)="login()">Iniciar sessión</button>
        </div>

        <!-- BOTONES PARA USUARIO LOGUEADO -->
        <div *ngIf="NavLoggedUser">
            <button class="btn btn-opacity-light mr-1" [routerLink]="['../mis-rankings']" routerLinkActive="active">Mis rankings</button>
            <button class="btn btn-opacity-success mr-1" (click)="unirme()" routerLinkActive="active">Unirme a un ranking</button>
        </div>

        <div *ngIf="NavLogged">
            <!-- BOTONES PARA USUARIO ADMIN -->
            <button class="btn btn-opacity-light mr-1" [routerLink]="['../modificar-rankings']" routerLinkActive="active">Modificar rankings</button>
            <button class="btn btn-opacity-success mr-1" [routerLink]="['../generar-ranking']" routerLinkActive="active">Generar ranking</button>
        </div>
        <img src="../../../assets/images/Group171.svg" alt="" class="img-fluid">
    </div>
</div>
<div class="content-wrapper">
    <div class="container">
        <section class="features-overview" id="features-section">
            <div class="content-header">
                <h2>¿Como funciona?</h2>
                <h6 class="section-subtitle text-muted">Genera tus rankings e invita a tus amigos para que participen en tu aventura
                </h6>
            </div>
            <div class="d-md-flex justify-content-between">
                <div class="grid-margin d-flex justify-content-start">
                    <div class="features-width">
                        <img src="../../../assets/images/Group12.svg" alt="" class="img-icons">
                        <h5 class="py-3">Crea tus rankings a gran velocidad</h5>
                    </div>
                </div>
                <div class="grid-margin d-flex justify-content-center">
                    <div class="features-width">
                        <img src="../../../assets/images/Group7.svg" alt="" class="img-icons">
                        <h5 class="py-3">Mira quienes són los mejores y recompensales</h5>
                    </div>
                </div>
                <div class="grid-margin d-flex justify-content-end">
                    <div class="features-width">
                        <img src="../../../assets/images/Group5.svg" alt="" class="img-icons">
                        <h5 class="py-3">Cumple objetivos</h5>
                    </div>
                </div>
            </div>
        </section>
        <!-- <footer class="border-top">
      <p class="text-center text-muted pt-4">Copyright © 2021 Sergi Bertran | Gabriel Gomez | Alex Rodriguez. Todos los
        derechos reservados.</p>
    </footer> -->
    </div>
</div>
<script src="../../../assets/js/landingpage.js"></script>
