<app-nav-profesores></app-nav-profesores>
<hr>
<div class="container bootstrap snippet">
    <div class="row">
  		<div class="col-sm-10"><h1>{{this.nombre}}</h1></div>

    </div>
    <div class="row">
  		<div class="col-sm-3"><!--left col-->


      <div class="text-center">
        <img src="https://www.pngitem.com/pimgs/m/5-56324_transparent-profesor-png-cartoon-man-vector-png-download.png" class="avatar img-circle img-thumbnail" alt="avatar">
      </div><br>

          <ul class="list-group">
            <li class="list-group-item text-muted">Rankings <i class="fa fa-dashboard fa-1x"></i></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>DAW2</strong></span> 125 personas  </li>
          </ul>

          <div class="panel panel-default">
            <div class="panel-heading">Social Media</div>
            <div class="panel-body">
            	<i class="fa fa-facebook fa-2x"></i> <i class="fa fa-github fa-2x"></i> <i class="fa fa-twitter fa-2x"></i> <i class="fa fa-pinterest fa-2x"></i> <i class="fa fa-google-plus fa-2x"></i>
            </div>
          </div>

        </div><!--/col-3-->
    	<div class="col-sm-9">
          <div class="tab-content">
            <div class="tab-pane active" id="home">
                <hr>

              <div *ngIf="Modificar">

                <div class="col-xs-12">
                  <label for="first_name"><h4>Usuario</h4></label>
                  {{this.usuario}}
              </div>
                      <div class="col-xs-6">
                          <label for="first_name"><h4>Nombre</h4></label>
                          {{this.nombre}}
                      </div>

                      <div class="col-xs-6">
                        <label for="last_name"><h4>Apellidos</h4></label>
                        {{this.apellidos}}
                      </div>

                      <div class="col-xs-6">
                          <label for="email"><h4>Email</h4></label>
                          {{this.correo}}
                      </div>

                      <div class="col-xs-6">
                          <label><h4>Centro</h4></label>
                          {{this.centro}}
                      </div>


                  <div  class="form-group">
                       <div class="col-xs-12">
                            <br>
                            <button (click)="BotonModificar()" class="btn btn-lg btn-success" ><i class="glyphicon glyphicon-ok-sign"></i> Modificar Perfil</button> &nbsp;
                            <button (click)="BotonContrasena()" class="btn btn-lg btn-primary" ><i class="glyphicon glyphicon-ok-sign"></i> Modificar Contraseña</button>
                        </div>
                  </div>
                </div>


                <form *ngIf="ModificarPass" [formGroup]="contrasenas" (ngSubmit)="CambiarContrasena()">

                  <div class="form-group">

                    <div class="col-xs-6">
                        <label for="password"><h4>Contraseña actual</h4></label>
                        <input type="password" class="form-control"  formControlName="contrasenavieja" placeholder="Escribe la contraseña actual"  title="enter your password.">
                        <div *ngIf="contrasenas.get('contrasenavieja').hasError('required') && contrasenas.get('contrasenavieja').touched"
                        class="alert alert-danger">
                        Este campo es obligatorio
                      </div>
                      <div *ngIf="contrasenas.get('contrasenavieja').hasError('maxlength') && contrasenas.get('contrasenavieja').touched"
                        class="alert alert-danger">
                        La contraseña es demasiado larga
                      </div>
                      <div *ngIf="contrasenas.get('contrasenavieja').hasError('minlength') && contrasenas.get('contrasenavieja').touched"
                        class="alert alert-danger">
                        La contraseña es demasiado corta
                      </div>
                    </div>
                </div>

                <div class="form-group">

                  <div class="col-xs-6">
                      <label for="password"><h4>Contraseña nueva</h4></label>
                      <input type="password" class="form-control"  formControlName="contrasena" placeholder="Escribe la nueva contraseña"  title="enter your password.">
                      <div *ngIf="contrasenas.get('contrasena').hasError('required') && contrasenas.get('contrasena').touched"
                      class="alert alert-danger">
                      Este campo es obligatorio
                    </div>
                    <div *ngIf="contrasenas.get('contrasena').hasError('maxlength') && contrasenas.get('contrasena').touched"
                      class="alert alert-danger">
                      La contraseña es demasiado larga
                    </div>
                    <div *ngIf="contrasenas.get('contrasena').hasError('minlength') && contrasenas.get('contrasena').touched"
                      class="alert alert-danger">
                      La contraseña es demasiado corta
                    </div>
                  </div>
              </div>

                <div class="form-group">

                  <div class="col-xs-6">
                    <label for="password2"><h4>Verificar Contraseña</h4></label>
                      <input type="password" class="form-control" formControlName="confirm_password" placeholder="Repite la contraseña" title="enter your password2.">
                      <div *ngIf="f.confirm_password.touched && f.confirm_password.invalid" class="alert alert-danger">
                        <div *ngIf="f.confirm_password.errors.required">Repetir la contraseña es requerido.</div>
                        <div *ngIf="f.confirm_password.errors.passwordMatchValidator">Las contraseñas deben ser iguales.</div>
                    </div>
                    </div>
                </div>

                <button class="btn btn-lg btn-success" button [disabled]="contrasenas.invalid"  type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button> &nbsp;
                <button class="btn btn-lg btn-primary" (click)="CancelarPass()">Cancelar</button>

                </form>

                  <form *ngIf="Modificar1" [formGroup]="myForm" (ngSubmit)="EnviarDatos()">
                    <div class="form-group">

                      <div class="col-xs-6">
                          <label for="first_name"><h4>Nombre</h4></label>
                          <input type="text" class="form-control" formControlName="nombre" value=" {{this.nombre}}" title="enter your first name if any.">
                          <div *ngIf="myForm.get('nombre').hasError('required') && myForm.get('nombre').touched" class="alert alert-danger">
                            Este campo es obligatorio
                          </div>

                          <div *ngIf="myForm.get('nombre').hasError('maxlength') && myForm.get('nombre').touched" class="alert alert-danger">
                            El nombre es demasiado largo
                          </div>
                          <div *ngIf="myForm.get('nombre').hasError('minlength') && myForm.get('nombre').touched" class="alert alert-danger">
                            El nombre es demasiado corto
                          </div>
                      </div>
                  </div>

                  <div class="form-group">

                    <div class="col-xs-6">
                      <label for="last_name"><h4>Apellidos</h4></label>
                        <input type="text" class="form-control" formControlName="apellido" value=" {{this.apellidos}}"  title="enter your last name if any.">
                        <div *ngIf="myForm.get('apellido').hasError('required') && myForm.get('apellido').touched" class="alert alert-danger">
                          Este campo es obligatorio
                        </div>

                        <div *ngIf="myForm.get('apellido').hasError('maxlength') && myForm.get('apellido').touched" class="alert alert-danger">
                          El nombre es demasiado largo
                        </div>
                        <div *ngIf="myForm.get('apellido').hasError('minlength') && myForm.get('apellido').touched" class="alert alert-danger">
                          El nombre es demasiado corto
                        </div>
                    </div>
                </div>


                <div class="form-group">

                  <div class="col-xs-6">
                      <label for="email"><h4>Email</h4></label>
                      <input type="email" class="form-control"  formControlName="email" value=" {{this.correo}}"  title="enter your email.">

                      <div *ngIf="myForm.get('email').hasError('required') && myForm.get('email').touched" class="alert alert-danger">
                        Es necesario introducir un email valido
                      </div>
                      <div *ngIf="myForm.get('email').hasError('email') && myForm.get('email').touched" class="alert alert-danger">
                        Es necesario introducir un email valido
                      </div>
                    </div>
              </div>

                      <div class="col-xs-6">

                      <div class="form-group">
                              <label for="centro"><h4>Centro</h4></label>

                              <select formcontrolname="centro" id="centro"  class="form-control" >
                                <option selected disabled>{{this.centro}}</option>
                                <option>Ilerna</option>
                                 <option>Caparrella</option>
                                  <option>UCAM</option>
                               </select>
                          </div>
                      </div>

                      <div class="form-group">
                           <div class="col-xs-12">
                                <br>
                                <button class="btn btn-lg btn-success" button [disabled]="myForm.invalid"  type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                                <button class="btn btn-lg"  type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                            </div>
                      </div>
              	</form>

              <hr>

          </div><!--/tab-content-->

        </div><!--/col-9-->
    </div><!--/row-->
