<app-nav-usuarios></app-nav-usuarios>
<br>
<br>
<div class="container h-100">
    <div class="row justify-content-center h-100">
        <div class="col-sm-8 align-self-center text-center">
            <div class="card shadow">
                <div class="card-body">
                    <br>
                    <h1>Movistar LaLiga</h1>
                    <iframe src="https://sportzonline.to/channels/hd/hd6.php" frameborder="0" width="600px" height="400px"></iframe>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>



<!-- <div id="player"></div>
<script>
    if (p2pml.hlsjs.Engine.isSupported()) {
        var engine = new p2pml.hlsjs.Engine();

        var player = new Clappr.Player({
            parentId: "#player",
            source: "https://tpgt36c4pw5cu56z.ezcdn483.net:8443/hls/eviy3tp9sa8v04t.m3u8?s=fksOncWvZ5rUHqTyAZOGYg&e=1615062782",
            // source: "https://tpgt36c4pw5cu56z.ezcdn483.net:8443/hls/eviy3tp9sa8v04t.m3u8?s=iDRDhdhOy7h-uuOOAR3SQg&e=1615007666",
            mute: true,
            autoPlay: true,
            playback: {
                hlsjsConfig: {
                    liveSyncDurationCount: 7,
                    loader: engine.createLoaderClass()
                }
            }
        });

        p2pml.hlsjs.initClapprPlayer(player);
    } else {
        document.write("Not supported :(");
    }
</script> -->
