
<form [formGroup]="contrasenas" (ngSubmit)="EnviarDatos()">
  <div class="form-group">
    <div class="col-xs-6">
        <label for="password"><h4>Contraseña actual</h4></label>
        <input type="password" class="form-control"  formControlName="contrasenavieja" placeholder="Escribe la nueva contraseña"  title="enter your password.">
        <div *ngIf="contrasenas.get('contrasenavieja').hasError('required') && contrasenas.get('contrasenavieja').touched"
        class="alert alert-danger">
        Este campo es obligatorio
      </div>
      <div *ngIf="contrasenas.get('contrasenavieja').hasError('maxlength') && contrasenas.get('contrasenavieja').touched"
        class="alert alert-danger">
        La contraseña es demasiado larga
      </div>
      <div *ngIf="contrasenas.get('contrasenavieja').hasError('minlength') && contrasenas.get('contrasenavieja').touched"
        class="alert alert-danger">
        La contraseña es demasiado corta
      </div>
    </div>
  </div>


  <div class="form-group">
    <div class="col-xs-6">
        <label for="password"><h4>Contraseña nueva</h4></label>
        <input type="password" class="form-control"  formControlName="contrasena" placeholder="Escribe la nueva contraseña"  title="enter your password.">
        <div *ngIf="contrasenas.get('contrasena').hasError('required') && contrasenas.get('contrasena').touched"
        class="alert alert-danger">
        Este campo es obligatorio
      </div>
      <div *ngIf="contrasenas.get('contrasena').hasError('maxlength') && contrasenas.get('contrasena').touched"
        class="alert alert-danger">
        La contraseña es demasiado larga
      </div>
      <div *ngIf="contrasenas.get('contrasena').hasError('minlength') && contrasenas.get('contrasena').touched"
        class="alert alert-danger">
        La contraseña es demasiado corta
      </div>
    </div>
  </div>
  <div class="form-group">

    <div class="col-xs-6">
      <label for="password2"><h4>Verificar Contraseña</h4></label>
        <input type="password" class="form-control" formControlName="confirm_password" placeholder="Repite la contraseña" title="enter your password2.">

        <div  class="alert alert-danger" *ngIf="contrasenas.hasError('notSame') && contrasenas.get('confirm_password').touched">
          Las contraseñas no son las mismas
      </div>


      </div>
  </div>
  <div class="form-group">
      <div class="col-xs-12">
            <br>
            <button class="btn btn-lg btn-success" button [disabled]="contrasenas.invalid"  type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
      </div>
        </div>
</form>
