<app-nav-usuarios></app-nav-usuarios>
<hr>
<div class="container bootstrap snippet">
    <div class="row">
  		<div class="col-sm-10"><h1>{{usuario}}</h1></div>
    </div>
    <div class="row">
  		<div class="col-sm-3"><!--left col-->


      <div class="text-center">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRzaOo3YNfMEVE8JYbVIhwvAPQsd4FPJxD9Dg&usqp=CAU" alt="avatar">
      </div><br>

          <ul class="list-group">
            <li class="list-group-item text-muted">Rankings asignados <i class="fa fa-dashboard fa-1x"></i></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>DAW2</strong></span>  </li>
          </ul>

          <div class="panel panel-default">
            <div class="panel-heading">Social Media</div>
            <div class="panel-body">
            	<i class="fa fa-facebook fa-2x"></i> <i class="fa fa-github fa-2x"></i> <i class="fa fa-twitter fa-2x"></i> <i class="fa fa-pinterest fa-2x"></i> <i class="fa fa-google-plus fa-2x"></i>
            </div>
          </div>

        </div><!--/col-3-->
    	<div class="col-sm-9">
          <div class="tab-content">
            <div class="tab-pane active" id="home">
                <hr>

              <div *ngIf="Modificar">

                <div class="col-xs-12">
                  <label for="first_name"><h4>Usuario: {{usuario}}</h4></label>
              </div>
                      <div class="col-xs-6">
                          <label for="first_name"><h4>Nombre: {{nombre}}</h4></label>
                      </div>

                      <div class="col-xs-6">
                        <label for="last_name"><h4>Apellidos: {{apellidos}}</h4></label>
                      </div>

                      <div class="col-xs-6">
                          <label for="email"><h4>Email: {{correo}}</h4></label>
                      </div>
                  <div  class="form-group">
                       <div class="col-xs-12">
                            <br>
                            <button (click)="BotonModificar()" class="btn btn-lg btn-success" ><i class="glyphicon glyphicon-ok-sign"></i> Modificar Valores</button>

                        </div>
                  </div>
                </div>
                  <form *ngIf="Modificar1"  action="##" method="post" id="registrationForm">
                      <div class="form-group">

                          <div class="col-xs-6">
                              <label for="first_name"><h4>Nombre</h4></label>
                              <input type="text" class="form-control" name="first_name" id="first_name" placeholder="Nombre" title="enter your first name if any.">
                          </div>
                      </div>
                      <div class="form-group">

                          <div class="col-xs-6">
                            <label for="last_name"><h4>Apellidos</h4></label>
                              <input type="text" class="form-control" name="last_name" id="last_name" placeholder="Apellidos" title="enter your last name if any.">
                          </div>
                      </div>


                      <div class="form-group">

                          <div class="col-xs-12">
                              <label for="email"><h4>Email</h4></label>
                              <input type="email" class="form-control" name="email" id="email" placeholder="tu@email.com" title="enter your email.">
                          </div>
                      </div>

                      <div class="form-group">

                          <div class="col-xs-6">
                              <label for="password"><h4>Nueva Contraseña</h4></label>
                              <input type="password" class="form-control" name="password" id="password" placeholder="Nueva contraseña" title="enter your password.">
                          </div>
                      </div>
                      <div class="form-group">

                          <div class="col-xs-6">
                            <label for="password2"><h4>Verificar Contraseña</h4></label>
                              <input type="password" class="form-control" name="password2" id="password2" placeholder="Repite contraseña" title="enter your password2.">
                          </div>
                      </div>
                      <div class="form-group">
                           <div class="col-xs-12">
                                <br>
                              	<button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                               	<button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                            </div>
                      </div>
              	</form>

              <hr>

             </div><!--/tab-pane-->
          </div><!--/tab-content-->

        </div><!--/col-9-->
    </div><!--/row-->
