.fondo{
  background-color: #f7f8fa;
}
.curva{
  border-radius: 27.5px;
  box-shadow: 0 10px 30px 0 rgb(172 168 168 / 43%);
}
.bordd{
  border-radius: 27.5px;
    /* box-shadow: 0 10px 30px 0 rgb(172 168 168 / 43%); */
    border: none;
}
