<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2">

                <h2>Registro de Profesores</h2>
                <form [formGroup]="myForm" (ngSubmit)="registerProfesor()">
                  <div class="form-group">
                    <div class="form-group">
                        <label for="username">Mote o "Nick"</label>
                        <input type="text" [(ngModel)]="profesor.usuario" formControlName="usuario" class="form-control"  />

                        <div *ngIf="myForm.get('usuario').hasError('required') && myForm.get('usuario').touched" class="alert alert-danger">
                          Este campo es obligatorio
                        </div>

                        <div *ngIf="myForm.get('usuario').hasError('maxlength') && myForm.get('usuario').touched" class="alert alert-danger">
                          El nombre es demasiado largo
                        </div>
                        <div *ngIf="myForm.get('usuario').hasError('minlength') && myForm.get('usuario').touched" class="alert alert-danger">
                          El nombre es demasiado corto
                        </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" [(ngModel)]="profesor.email" formControlName="email" class="form-control"  />
                        <div *ngIf="myForm.get('email').hasError('required') && myForm.get('email').touched" class="alert alert-danger">
                          Es necesario introducir un email valido
                        </div>
                        <div *ngIf="myForm.get('email').hasError('email') && myForm.get('email').touched" class="alert alert-danger">
                          Es necesario introducir un email valido
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="password">Contraseña</label>
                        <input type="password" [(ngModel)]="profesor.contrasena" formControlName="contrasena" class="form-control"  />
                        <div *ngIf="myForm.get('contrasena').hasError('required') && myForm.get('contrasena').touched"
                        class="alert alert-danger">
                        Este campo es obligatorio
                      </div>
                      <div *ngIf="myForm.get('contrasena').hasError('maxlength') && myForm.get('contrasena').touched"
                        class="alert alert-danger">
                        La contraseña es demasiado larga
                      </div>
                      <div *ngIf="myForm.get('contrasena').hasError('minlength') && myForm.get('contrasena').touched"
                        class="alert alert-danger">
                        La contraseña es demasiado corta
                      </div>
                    </div>

                    <div class="form-group">
                        <label for="password2">Repetir Contraseña</label>
                        <input type="password"  id="confirm_password"  formControlName="confirm_password" class="form-control"  />
                        <div *ngIf="f.confirm_password.touched && f.confirm_password.invalid" class="alert alert-danger">
                          <div *ngIf="f.confirm_password.errors.required">Repetir la contraseña es requerido.</div>
                          <div *ngIf="f.confirm_password.errors.confirmedValidator">Las contraseñas deben ser iguales.</div>
                      </div>
                    </div>

                    <label for="firstName">Nombre</label>
                    <input type="text" [(ngModel)]="profesor.nombre" formControlName="nombre" class="form-control"  />
                    <div *ngIf="myForm.get('nombre').hasError('required') && myForm.get('nombre').touched" class="alert alert-danger">
                      Este campo es obligatorio
                    </div>

                    <div *ngIf="myForm.get('nombre').hasError('maxlength') && myForm.get('nombre').touched" class="alert alert-danger">
                      El nombre es demasiado largo
                    </div>
                    <div *ngIf="myForm.get('nombre').hasError('minlength') && myForm.get('nombre').touched" class="alert alert-danger">
                      El nombre es demasiado corto
                    </div>

                <div class="form-group">
                    <label for="lastName">Apellidos</label>
                    <input type="text" [(ngModel)]="profesor.apellido" formControlName="apellido" class="form-control"  />
                    <div *ngIf="myForm.get('apellido').hasError('required') && myForm.get('apellido').touched" class="alert alert-danger">
                      Este campo es obligatorio
                    </div>

                    <div *ngIf="myForm.get('apellido').hasError('maxlength') && myForm.get('apellido').touched" class="alert alert-danger">
                      El nombre es demasiado largo
                    </div>
                    <div *ngIf="myForm.get('apellido').hasError('minlength') && myForm.get('apellido').touched" class="alert alert-danger">
                      El nombre es demasiado corto
                    </div>
                </div>


                    <div class="form-group">
                        <label for="centro">Centro</label>
                        <select class="form-control" id="centro" [(ngModel)]="profesor.centro" formControlName="centro" class="form-control" >
                <option>Ilerna</option>
                <option>Caparrella</option>
                <option>UCAM</option>
              </select>

                    </div>
                    <div class="form-group">
                      <button [disabled]="myForm.invalid" type="submit" class="btn btn-primary">
                          Register
                      </button>
                        <a routerLink="/login" class="btn btn-link">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
