<app-nav-usuarios></app-nav-usuarios>
<div class="banner text-left">
  <div class="row justify-content-center">
    <div class="col-auto">
      <table class="table table-responsive">
        <!-- <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">Ver</th>
            <th scope="col">Borrar</th>
          </tr>
        </thead> -->
        <tbody *ngFor="let item of ranking">
          <tr>
            <td>{{item[0]}}</td>

            <td>
              <button class="btn btn-opacity-light mr-3"   [routerLink]="['../modificar-rankings', item[1]] " >
                Visualizar
              </button>
              <button class="btn btn-opacity-danger">
                Borrar
              </button>
              <select>
                <option value={{item[2]}}>{{item[2]}}</option>
                <option *ngIf="item[2]==0" value=1>1</option>
                <option *ngIf="item[2]==1" value=0>0</option>
              </select>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="{{item[2]}}" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  Default checkbox
                </label>
              </div>
            </td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
