<app-nav-usuarios></app-nav-usuarios>
<div class="banner text-left">
    <div class="row justify-content-center">
        <div class="col-auto">
            <table class="table table-responsive">
                <!-- <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">Ver</th>
            <th scope="col">Borrar</th>
          </tr>
        </thead> -->
                <thead>
                    <tr class="text-center">
                        <th scope="col">Nombre</th>
                        <th scope="col">Visualizar</th>
                        <th scope="col">Modificar</th>
                        <th scope="col">Borrar</th>
                        <th scope="col">Equipos</th>
                        <th scope="col">Mostrar codigo</th>
                    </tr>
                </thead>
                <tbody *ngFor="let item of ranking">
                    <tr>
                        <td><b>{{item[0]}}</b></td>

                        <td>
                            <button class="btn btn-opacity-light mr-3" [routerLink]="['../ranking', item[1]] ">Visualizar</button>
                        </td>


                        <td>
                            <button class="btn btn-opacity-warning mr-3" [routerLink]="['../modificar-rankings', item[1]] ">
                Modificar
              </button>
                        </td>


                        <td>
                            <button class="btn btn-opacity-danger" (click)="eliminar(item)">
                Borrar
              </button>
                        </td>


                        <td>
                            <div class="form-check align-center text-center">
                                <input class="form-check-input text-center justify-content-center" (change)="changed($event)" type="checkbox" value="{{item[2]}}" id="defaultCheck1">
                            </div>
                        </td>
                        <td>

                            <button class="btn btn-opacity-success" (click)="showCode(item)">
                              Mostrar codigo
              </button>
                        </td>


                    </tr>
                </tbody>
            </table>
            <button class="btn btn-primary btn-lg " [routerLink]="['../home']" routerLinkActive="active">Volver al HOME</button>
        </div>
    </div>
</div>
